name: Ruby

on: [push,pull_request]

jobs:
  build:
    name: "Ruby ${{ matrix.versions.ruby }}, Rails ${{ matrix.versions.rails }}, VC ${{ matrix.view_component }}, ${{ matrix.action_text }} ActionText"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions:
          - { ruby: "3.0", rails: "6.1", rubygems: "default" }
          - { ruby: "3.1", rails: "6.1", rubygems: "default" }
          - { ruby: "3.2", rails: "6.1", rubygems: "default" }
          - { ruby: "3.3", rails: "6.1", rubygems: "default" }
          - { ruby: "3.0", rails: "7.0", rubygems: "default" }
          - { ruby: "3.1", rails: "7.0", rubygems: "default" }
          - { ruby: "3.2", rails: "7.0", rubygems: "default" }
          - { ruby: "3.3", rails: "7.0", rubygems: "default" }
          - { ruby: "3.0", rails: "7.1", rubygems: "default" }
          - { ruby: "3.1", rails: "7.1", rubygems: "default" }
          - { ruby: "3.2", rails: "7.1", rubygems: "default" }
          - { ruby: "3.3", rails: "7.1", rubygems: "default" }
          - { ruby: "3.1", rails: "7.2", rubygems: "default" }
          - { ruby: "3.2", rails: "7.2", rubygems: "default" }
          - { ruby: "3.3", rails: "7.2", rubygems: "default" }
          - { ruby: "3.3", rails: "8.0", rubygems: "default" }
          - { ruby: "3.3", rails: "head", rubygems: "latest" }
        action_text: ['with', 'without']
        view_component: ['2.0', '3.0']

    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.versions.rails }}_vc_${{ matrix.view_component }}.gemfile
      VIEW_COMPONENT_FORM_USE_ACTIONTEXT: ${{ matrix.action_text == 'with' && 'true' || 'false' }}

    steps:
    - uses: actions/checkout@v4

    - name: Update gemspec to test in head version
      if: matrix.versions.rails == 'head'
      run: |
        sed -i -e 's/, "< 8.1"//g' view_component-form.gemspec

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.versions.ruby }}
        rubygems: ${{ matrix.versions.rubygems }}
        bundler-cache: true

    - name: Test with Rake
      run: |
        COVERAGE=true bundle exec rake

    - name: Upload coverage results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: coverage-report-ruby-${{ matrix.versions.ruby }}-rails-${{ matrix.versions.rails }}-vc-${{ matrix.view_component }}-actiontext-${{ matrix.action_text }}
        path: coverage
