name: Ruby

on: [push,pull_request]

jobs:
  build:
    name: "Ruby ${{ matrix.versions.ruby }}, Rails ${{ matrix.versions.rails }}, ${{ matrix.action_text }} ActionText"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions:
          - { ruby: "2.7", rails: "6.0.x", rubygems: "default" }
          - { ruby: "3.0", rails: "6.0.x", rubygems: "default" }
          - { ruby: "2.7", rails: "6.1.x", rubygems: "default" }
          - { ruby: "3.0", rails: "6.1.x", rubygems: "default" }
          - { ruby: "3.1", rails: "6.1.x", rubygems: "default" }
          - { ruby: "2.7", rails: "7.0.x", rubygems: "default" }
          - { ruby: "3.0", rails: "7.0.x", rubygems: "default" }
          - { ruby: "3.1", rails: "7.0.x", rubygems: "default" }
          - { ruby: "3.2", rails: "7.0.x", rubygems: "default" }
          - { ruby: "3.0", rails: "head", rubygems: "latest" }
          - { ruby: "3.1", rails: "head", rubygems: "latest" }
          - { ruby: "3.2", rails: "head", rubygems: "latest" }
        action_text: ['with', 'without']

    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.versions.rails }}.gemfile
      VIEW_COMPONENT_FORM_USE_ACTIONTEXT: ${{ matrix.action_text == 'with' && 'true' || 'false' }}

    steps:
    - uses: actions/checkout@v2

    - name: Update gemspec to test in head version
      if: matrix.versions.rails == 'head'
      run: |
        sed -i -e 's/, "< 7.0"//g' view_component-form.gemspec

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.versions.ruby }}
        rubygems: ${{ matrix.versions.rubygems }}
        bundler-cache: true

    - name: Test with Rake
      run: |
        COVERAGE=true bundle exec rake

    - name: Upload coverage results
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: coverage-report-ruby-${{ matrix.versions.ruby }}-rails-${{ matrix.versions.rails }}
        path: coverage
